body {
    background: linear-gradient(to right, #888 0%, #999 100%);
    font-size: 1.5em;
}

* {
    margin: 0 auto;
}

.question {
    text-align: center;
    margin: 12.5vh 0 1vh;
    font-size: 1.25em
}

.reponse {
    border-radius: 2em;
    display: block;
    text-align: center;
    vertical-align: middle;
    padding: 0.75em 0;
    min-width: 8em;
    font-size: 2em;
}

.reponse p {
    width: fit-content;
    outline: none;
    max-width: 100%;
    overflow: hidden;
}

.timer {
    margin: 1em 0 1.5em;
}

img {
    margin: 0 0.5em 0 2em;
    width: 1.5em;
    float: left;
}
